.navbar {
  background: #fff;
  padding: 0.8rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.1);
  border-color: #0077ff;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0077ff;
}
